/* 글씨 넣는 곳 컨테이너 디자인 */
.item {
  display: flex;
  justify-content: space-between;
  background: #efefef;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;

  /* 글씨 디자인 */
  input[type='text'] {
    padding: 0.2rem 0.7rem;
    border-radius: 2px;
    border: 1px solid rgb(158, 158, 158);
    background: none;
    color: rgb(35, 31, 27);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    /* 포커싱 되었을때 선 */
    &:focus {
      outline: 2px solid orange;
    }
  }

  /* 체크박스 디자인 */
  input[type='checkbox'] {
    zoom: 1.7;
  }

  /* 삭제버튼 디자인 */
  .delete-item {
    width: 24px;
    height: 24px;
    background-color: #e5553f;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;

    /* 삭제 버튼이 클릭 되었을때 디자인 */
    &:hover {
      transform: scale(1.1);
    }
  }
}

.done {
  opacity: 0.2;
  pointer-events: none;
}
